FIREBASE_CRED_PATH=
GEMINI_API_KEY=
GROQ_API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
# LANGSMITH_WORKSPACE_ID="<your-workspace-id>"
export LANGSMITH_ENDPOINT=
export LANGSMITH_PROJECT=

XAI_API_KEY=

GOOGLE_APPLICATION_CREDENTIALS=
REDIS_URL=